/* *{
  font-family: GT America;
} */
@media only screen and (max-width: 991px) {
  .start{
    width: 50%;
    margin: auto;

  }
}
@media (min-width: 768px){
.sc {
   display: flex;
}
}
@media only screen and (max-width: 1000px) {
  .cont{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.Header_mobileMenu__JqKwA {
  position: fixed;
  width: 100%;
  height: 50%;
  background: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  animation: fadeIn .35s ease-in;
}
.Header_menuButton__J5Jen {
  width: 24px;
  height: 16px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

.hero-description{
  font-family: GT America;
}
.ch {
  display: flex;
  align-items: center;
}

.hero-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}
.rowjot {
  height: 136px;
  background-color: blue;
}
.mainReview {
  padding: 50px;
  position: relative;
}
.reviewdiv {
  display: flex;
  justify-content: space-around;
}
.reviews {
  width: 60%;
}

.y {
  position: absolute;
  top: 57%;
  left: 85%;
}

@media (max-width: 1000px) {
  .y {
    display: none;
  }
  .g {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
  }

  .reviewdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .reviews {
    width: 100%;
  }
  
}

.section-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.people {
  height: 68px;
  background-color: rgb(58, 100, 58);
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
.star {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.innerWave {
  background-size: cover;
  background-position: 50% center;
  background-repeat: no-repeat;
  padding: 4rem 5rem;
  position: relative;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-weight: bold; */
}
.innerImg {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  position: absolute;
  right: -60px;
  bottom: -60px;
  display: block;
}

.section-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.Features_features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
}

@media (max-width: 991px) {
  .innerBox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
  }
  .innerBox > * {
    border: 1px solid black;
  }

  .innerImg {
    height: 100px;
    width: 100px;
    position: static;
    margin-top: 1rem;
  }
}
@media (max-width: 700px) {
  .innerBox {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
  }
  .innerBox > * {
    border: 1px solid black;
  }
}
@media (max-width: 996px) {
  .package {
    flex-direction: column;
  }

  .package > * {
    /* margin: 10px; */
    width: 100%;
  }
}

.wave {
  width: 100%;
  margin-top: 100px;
  background-image: url("download.svg");
  padding: 30px;
  background-repeat: no-repeat;
}

.innerWavetext {
  z-index: 111111;
}

.logos {
  padding-top: 50px;
}
@media (max-width: 800px) {
  .logos > * {
    height: 200px;
    width: 400px;
  }
}
@media (max-width: 400px) {
  .logos > * {
    height: 100px;
    width: 300px;
  }
}

.Footer_logoContainer {
  padding-top: 6rem;
  padding-bottom: 8rem;
  border-right: 1px solid;
}
.Footer_linksContainer {
  padding: 4rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Footer_footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

@media (max-width: 991px) {
  .Footer_logoContainer {
    padding-top: 4rem;
    padding-bottom: 1rem;
    border: none;
    text-align: center;
  }

  .Footer_linksContainer {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    display: grid;
    text-align: center;
  }

  .Footer_footer {
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr;
  }
}
.standard{
  background-color: rgb(221, 246, 246);
}